@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #eeeeee;
    width: 100%;
    min-height: 100vh;
    font-size: 14px;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    padding: 0.5rem 1rem;
}

.nav {
    background-color: #a400c4;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-form {
    display: flex;
    width: 200px;
}

.search-input-list-container {
    width: 170px;
    height: 30px;
    transition: all 0.5s;
}

.search-input,
.search-list,
.search-content {
    width: 100%;
}
.search-input {
    height: 100%;
    background-color: #682375;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #620075;
    padding-left: 0.5rem;
}

.search-list {
    display: block;
    position: relative;
    background-color: #fff;
    list-style: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.5rem 0;
    z-index: 998;
    opacity: 0;
}
.element-search {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 1rem 0;
    cursor: default;
}
.element-search:hover {
    background-color: #efefef;
}
.search-list p {
    padding-right: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.search-list img {
    width: auto;
    height: 16px;
    margin: 0 0.5rem;
}
.search-btn {
    width: 30px;
    height: 30px;
    background-color: #cc00f5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #620075;
    cursor: pointer;
}

.aside-btn {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    gap: 9.6px;
    cursor: pointer;
    z-index: 999;
}
.aside-btn > div {
    background-color: #fff;
    height: 2px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.5s;
    transform-origin: left;
}
.aside-btn:hover div:first-child {
    width: 33px;
    transform: rotate(45deg);
}
.aside-btn:hover div:nth-child(2) {
    opacity: 0;
}
.aside-btn:hover div:last-child {
    width: 33px;
    transform: rotate(-45deg);
}

.GIFS-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    column-gap: 15px;
    height: 100%;
    max-width: 1280px;
    margin: auto;
}
.GIF {
    width: 290px;
    height: auto;
    display: grid;
    grid-template: 40px 290px 35px / 1fr;
    background-color: #682375;
    border-radius: 1rem;
    color: white;
    position: relative;
    transition: all 0.5s;
}
.ERROR {
    margin: auto;
}
.GIF:hover {
    transform: scale(0.975);
}
.GIF a {
    color: white;
}
.GIF-image-div a {
    width: 100%;
}
.GIF-user-div,
.GIF-title-div {
    padding: 0 0.5rem;
}
.GIF-title-div {
    width: 100%;
    display: flex;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}
.GIF-title-div a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.GIF-image-div {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #4d1159;
}
.GIF-user-div,
.GIF-user-div > a,
.GIF-user-div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.GIF-user-div img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.GIF-user-div > a > img {
    margin-right: 0.5rem;
    margin-bottom: 1px;
}
.GIF-user-div {
    justify-content: space-between;
}
.GIF-user-div {
    justify-content: baseline;
}
.GIF-user-div > div {
    opacity: 0;
    transition: ease-in-out 1s;
}
.GIF:hover .GIF-user-div > div {
    opacity: 100;
}

.blur-menu {
    visibility: hidden;
    background-color: rgba(28, 28, 28, 0.66);
    position: fixed;
    top: 0;
    left: 256px;
    z-index: 997;
    width: 100%;
    height: 100%;
}
.menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 256px;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in-out 0.9s;
    border-left: 1px solid #bbb;
    text-align: left;
}
.menu > div {
    width: 100%;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    min-height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}
.menu h3 {
    margin: 1rem 0;
}
.menu a {
    color: #000;
}
.menu a:hover,
h1:hover {
    color: #682375;
}
.menu-hero {
    height: 40px;
}
.menu-giphy a{
    transform: scale(1.1);
}
.menu-attributions ul {
    padding-left: 1.5rem;
    text-align: justify;
}
.menu-attributions li {
    padding: .3rem 0;
}
.menu > .menu-me {
    border-bottom: 2px solid #e1e1e1;
    align-self: flex-end;
}
.menu-me h3 {
    text-align: center;
}

.redes {
    margin-top: .5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.red-social {
    width: 50px;
}
.red-social img {
    border: 1px solid #e1e1e1;
    border-radius: 50%;
}

.go-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
    margin: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 996;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }
    .nav {
        height: 50px;
    }
    .menu > div {
        min-height: 50px;
    }
    .search-form,
    .search-input-list-container,
    .search-btn {
        height: 100%;
    }
    .search-form {
        width: 60%;
    }
    .search-input-list-container {
        width: 75%;
    }
    .search-btn {
        width: 10%;
    }
    .search-btn img {
        width: 50%;
    }
    .GIFS-container {
        padding-top: 2rem;
    }
    .ERROR {
        text-align: center;
    }
}
@media screen and (min-width: 1024px) {
    .nav {
        height: 60px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .menu > div {
        min-height: 60px;
    }
    .GIF:hover {
        transform: scale(1.05);
    }
}
@media screen and (min-width: 1440px) {
    body {
        font-size: 22px;
    }
    .nav {
        height: 70px;
        padding: 1px 6%;
    }
    .menu > div {
        min-height: 70px;
    }
    .GIFS-container {
        max-width: 1820px;
    }
    .GIF {
        width: 400px;
        grid-template: 55px 400px 55px / 1fr;
    }
    .search-btn,
    .aside-btn,
    .GIF-user-div img,
    .go-top-btn {
        width: 50px;
        height: 50px;
    }
    .aside-btn {
        gap: 20px;
    }
    .aside-btn > div {
        height: 5px;
    }
    .aside-btn:hover div:first-child,
    .aside-btn:hover div:last-child {
        width: 72px;
    }
}
@media screen and (min-width: 1920px) {
    body {
        font-size: 30px;
    }
    .nav {
        height: 80px;
    }
    .menu > div {
        min-height: 80px;
    }
    .GIFS-container {
        width: 90vw;
        max-width: 100%;
    }
}
@media screen and (min-width: 3840px) {
    body {
        font-size: 44px;
    }
    .nav {
        height: 100px;
    }
    .menu > div {
        min-height: 70px;
    }
    .search-btn,
    .aside-btn,
    .GIF-user-div img,
    .go-top-btn {
        width: 70px;
        height: 70px;
    }
    .GIF {
        width: 750px;
        grid-template: 75px 750px 75px / 1fr;
    }
}
